@model WebAPI.Region

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Id regije: @Model.RegionId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ime regije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegionId">Uredi</a> |
    <a asp-action="Index">Nazaj na tabelo</a>
</div>
