@model WebAPI.Employee

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj Zaposlenega</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Ime</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Priimek</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-pošta</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Telefonska številka</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label">Datum najema</label>
                <input asp-for="HireDate" class="form-control" type="date" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label">Delovno mesto</label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.dropdownJob"></select>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label">Plača</label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label">Vodja</label>
                <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.dropdownManager"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Oddelek</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.dropdownDepartment"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary c-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
