@{
    ViewData["Title"] = "Domača stran";
}

<div class="container mt-4">
    <h1>Dobrodošli v kadrovskem oddelku</h1>
    <p>To je domača stran kadrovske službe naše organizacije. Tukaj lahko najdete informacije o zaposlenih, oddelkih, delovnih mestih in lokacijah.</p>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zaposleni</h5>
                        <p class="card-text">Glavna tabela, ki hrani podatke o zaposlenih na podjetju.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Trenutno število zaposlenih: <b>@ViewBag.NofEmployees</b>
                            </li>
                            <li class="list-group-item">
                                @foreach (var item in ViewBag.NofEinDepartment)
                                {
                                    <div>@item.DepartmentName: <b>@item.EmployeeCount</b></div>
                                }
                            </li>
                        </ul>
                        <a href="/Employee" class="btn btn-primary c-btn">Prikaži tabelo</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Druge tabele</h5>
                        <p class="card-text">Oglej, uredi, dodaj in briši podatke še iz drugih tabel.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Oddelki
                                <a href="/Department" class="btn btn-outline-primary">Pogled</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Delovna mesta
                                <a href="/Job" class="btn btn-outline-primary">Pogled</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Lokacije
                                <a href="/Location" class="btn btn-outline-primary">Pogled</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Države
                                <a href="/Country" class="btn btn-outline-primary">Pogled</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Regije
                                <a href="/Region" class="btn btn-outline-primary">Pogled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>