@model WebAPI.Department

@{
    ViewData["Title"] = "Izbriši";
}

<h1>izbriši</h1>

<div>
    <h4>Id oddelka: @Model.DepartmentId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ime oddelka
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            Id lokacije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="submit" value="Izbriši" class="btn btn-danger c-btn" /> |
        <a asp-action="Index">Nazaj na tabelo</a>
    </form>
</div>
