@model WebAPI.Location

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj novo lokacijo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label">Naslov</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">Poštna številka</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Mesto</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateProvince" class="control-label">Provinca</label>
                <input asp-for="StateProvince" class="form-control" />
                <span asp-validation-for="StateProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Država</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.dropdown"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary c-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na tabelo</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
